{{define "main"}}

{{ partial "page-header.html" . }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      {{with .Params.explaination}}
      {{if .enable}}
        <div class="col-xl-10 col-lg-8 col-md-12" data-aos="fade-up" data-aos-delay="100">
          <div class="block text-center">
            <h3 >{{.description | markdownify}}</h3>
            </div>
          </div>
      {{end}}
      {{end}}
      {{with .Params.qrcode1}}
      {{if .enable}}
        <div class="col-xl-5 col-lg-4 col-md-12 contact-widget" data-aos="fade-up" data-aos-delay="100">
          <div class="block text-center">
            <h3 class="mb-4">使用iPass Money（Line Pay）掃碼捐款</h3>
              <div class="about-image">
                {{ if fileExists (add `assets/` .image) }}
                {{$img:= resources.Get .image }}
                {{$img:= $img.Resize "4645x"}}
                <img loading="lazy" decoding="async" class="img-fluid" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$img.RelPermalink}}" alt="Video Thumbnail" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
                {{end}}
              </div>
            </div>
          </div>
      {{end}}
      {{end}}
      {{with .Params.qrcode2}}
      {{if .enable}}
        <div class="col-xl-5 col-lg-4 col-md-12 contact-widget" data-aos="fade-up" data-aos-delay="100">
          <div class="block text-center">
            <h3 class="mb-4">街口支付</h3>
              <div class="about-image">
                {{ if fileExists (add `assets/` .image) }}
                {{$img:= resources.Get .image }}
                {{$img:= $img.Resize "4645x"}}
                <img loading="lazy" decoding="async" class="img-fluid" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$img.RelPermalink}}" alt="Video Thumbnail" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </section>
      {{end}}
      {{end}}
    </div>
  </div>
</section>

{{end}}